<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Welcome, {{user.first_name}} {{user.last_name}} </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto"></ul>
                <span class="navbar-text">
                    <a href="/editmyaccount/{{user.id}}" role="button"
                    class="btn btn-sm btn-info ml-2 text-white"> Edit my account</a>
                        
                    <a href="/logout" role="button"
                    class="btn btn-sm btn-info ml-2 text-white">Logout</a>
                        
                        
                </span>

                
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            
            <div class="col-6 px-2">
                <h3>Quotes</h3>
                {% for quote in all_quotes %}
                <div class="container">
                    
                    <p>{{quote.author}}: "{{quote.content}}"</p>
                    <p> Posted by <a href="/users/{{quote.posted_by.id}}">{{quote.posted_by.first_name}} {{quote.posted_by.last_name}}</a></p>
                    <p>{{quote.user_that_like_quote.count}} people like this </p>
                    {% if user not in quote.user_that_like_quote.all %} 
                        <form action='/quotes/like/{{quote.id}}' method='POST'>
                            {% csrf_token %}
                            
                            <input type='submit' value='Like'>
                        </form> 
                    {% endif %}
                    {% if user == quote.posted_by %} 
                        <form action='/quotes/delete/{{quote.id}}' method='POST'>
                            {% csrf_token %}
                            
                            <input type='submit' value='Delete'>
                        </form> 
                    {% endif %}


                </div>
                
                {% endfor %}


                
            </div>

            <div class="col-6 px-2">
                <h3>Add a Quote!</h3>
                
                <form action="/quotes/create" method="post">
                    {% csrf_token %}
                    {% for message in messages %}
                        <p class="text-danger small">{{ message }}</p>
                    {% endfor %}
                    <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" name="author">
                        
                    </div>
                    <div class="form-group">
                        <label for="content">Quote</label>
                        <input type="textbox" class="form-control" name="content">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
